@import url('https://fonts.googleapis.com/css?family=Chicle|Indie+Flower|Titillium+Web');
body{
  margin: 0;
  padding: 0;
  background: url(../images/background.jpg) fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}   
h1{
  font-weight: bold;
}
button{
  padding: 5px;
  margin: 20px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: rgba(87, 83, 83, 0.541);
  border: 1px solid #cccccc;
  outline: none;
  color: #cccccc
}
#result{
  padding: 20px;
  margin: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.container{
  background-color: rgba(216, 230, 230, 0.479);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  margin-top: 5%;
  margin-bottom: 5%;   
}
.jumbotron{
  background-color: #1f113562;
  margin-top: 1%;
  color: rgb(88, 20, 20);
  font-family: 'Titillium Web', sans-serif;
}
.questionDesign{
  background-color: rgb(33, 74, 80);
  border-radius: 5px; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-left: 5%;
  margin-bottom: 5%;
  color: aqua;
  font-family: 'Indie Flower', cursive;
  font-size: 150%
}
